* {
	margin:0px;
	padding:0px;
}

body {
	background: #F9F9F9;
}

#content{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top:50px;
}

#content h4{
	/*background: #000;*/
	display: block;
	position: relative;
	top: -185px;
	left: 80;
	width:40%;
	font-family: "Tisa Pro", georgia, serif;
	color: #ffffff;
	font-size: 36px;
	font-weight: normal;
	line-height: 1.6em;
}

#content h5{

	display: block;
	position: relative;
	padding-top:8px;
	left: 80;
	width:150px;
	font-family: "Proxima Nova", helvetica;
	color: #ffffff;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.6em;
	letter-spacing: .01em;
}

#divider{
	background: #ffffff;
	display: block;
	position: relative;
	padding-top: 1px;
	top: -185px;
	left: 80;
	width:3%;
}


a:link {
    color: #ffffff;
	text-decoration: none;
}


a:visited {
    color: #ffffff;
	text-decoration: none;
}


a:hover {
    color: #ffffff;
	text-decoration: none;
}


a:active {
    color: #ffffff;
	text-decoration: none;
}
