#main-nav {
  position: fixed;
  top: -60px;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: top 0.3s ease;
}

#main-nav.visible {
  top: 0;
}

.nav-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.5rem;
}

.nav-name {
  font-weight: 800;
  font-size: 1.1em;
  color: #b22929;
  text-decoration: none;
  border: none;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  font-size: 0.85em;
  font-weight: 600;
  margin-left: 1.5rem;
  border: none;
}

.nav-links a:hover {
  color: #b22929;
}

@media (max-width: 600px) {
  .nav-links a {
    margin-left: 0.8rem;
    font-size: 0.75em;
  }
  .nav-name {
    display: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}
.section {
  padding: 8rem 0 .5rem;
  text-align: center;
  
}



#section-a{
  padding: 1rem 0 2rem;
  height: 2vh;
/*  border: 1px solid black;*/
}
.container { 
}

.column, .columns {
 
}

h1, h2, h3, h4, h5, h6{
  font-weight: 800;
  color: #b22929
  
}

h4 a {
  color: #b22929;
  border-bottom: 1px solid currentColor;
  /* text-decoration: underline 1px; */
}

.splash{
  height: 75vh;
  display: table;
  padding: 1rem;
  /*border: 1px solid black;*/
  
}
@media (min-width: 400px){
  .splash{
    padding: 7rem;
  }
}
.splash-typing{
  display: table-cell;
  vertical-align: middle;  
}


.welcome-img {
	position: relative;
	max-width: 100%;
	size: 10%;
  padding: 0 0 15rem;
}

.category-text{
  font-size: 1.2em;
  text-align: left;
  font-weight: 800;
  color: #b22929

}
@media(min-width: 550px){
  .category-text{
    font-size: 1em;
    text-align: right;

  }
}
@media(min-width: 650px){
  .category-text{
    font-size: 1.2em;
  }
}

.paragraph-text{
  text-align: left;
}

.paragraph-text p{
  margin: 0;
}

#goodbye h5{
  font-size: 1.2em;
  line-height: .5em;
}


body{
	font-family: 'Libre Franklin', sans-serif;
}


.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  animation-duration: 3s;
  animation:
    typing 1s steps(29, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #b22929 }
}

.intro-typing-txt {
  /*font-family: monospace;*/
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  letter-spacing: .15em; /* Adjust as needed */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
}

#second-intro-typing-txt{
	text-indent: -9999px;
}


.welcome{
  position: relative;
}

#ny-photo{
  background-image: url(../_img/tmb_hiking.jpg);
}

#ny-text{
  padding-bottom: 0px;
  position: relative;
  bottom: 0px;
}

#goodbye{
  
  position: relative;
  top: -40px;
}

.parallax {

    /* Full height */
     height: 100vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 .1em #111;
}

.experience-title{
  font-weight: 800;
}
.experience-subtitle{
  color: grey;
  font-weight: 800;
}
.experience-date{
  text-align: left;
  color: grey;
  font-style: italic;
}
@media (min-width: 600px) {
  .experience-date{
    text-align: right;
  }

  
}
.experience-description{
  font-size: .9em;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.skill-tag {
  display: inline-block;
  padding: 0.4rem 1rem;
  border: 1.5px solid #b22929;
  border-radius: 3px;
  font-size: 0.85em;
  color: #333;
  font-weight: 600;
}

.tech-description {
  text-align: left;
  font-size: 0.9em;
  color: #555;
  margin: 0;
  line-height: 1.6;
}

@media (min-width: 550px){
  .experience-description{
    padding-top: 1rem;
  }  
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
}

li {
  padding-left: 1.4em;
  text-indent: -1.4em;
}

li:before {
  content: ">>";
  padding-right: 5px;
}

a, .center-link{
  text-align: center;
  color:  #b22929;
  text-decoration: none;

}
a:hover{
  color: grey;
}



@media(max-width: 800px){
  #ny-text{
    display: none;

  }
  #ny-photo{
    display: none;
  }
}


#arrowVertDiv {
    height: 30vh;
    opacity: 0;
    
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 0;}
}

.arrow {
    animation: bouncing 1s infinite ease-in-out;
    bottom: 0;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.lightbox.active {
    display: flex;
}

.lightbox img {
    max-width: 90vw;
    max-height: 85vh;
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

